doctype html
html(lang="en")
    head
        title Help
    body
        div(style="")
            div
                label(style="font-weight: bold; color: red;") Спасибо за регистрацию на сайте #{site}
            div
                label Ваш логин: #{login}
            div
                label Ваш пароль: #{password}
            div
                label Никому не сообщайте эти данные.
